:root {
  --dark: #000000;
  --light1: #ffffff;
  --light2: #f5e6cf;
  --secondary1: #3752d3;
  --secondary2: #2f8221;
  --secondary3: #8f3985;
  --secondary4: #c13344;
  --accent: #e2ad27;
}

body {
  margin: 0;
  background-color: white;
  font-family: Futura PT, sans-serif;
}
h1 {
  color: var(--dark);
  font-size: 120px;
  font-weight: 600;
  margin: 0;
}
h2 {
  color: var(--dark);
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 36px;
}

.social-links {
  height: 25px;
}

/*
header {
  position: fixed;
}

nav {
  position: absolute;
}
*/
