/* VARIABLES */
:root {
  /* Font Weight */
  --fw-demi: 600;
  --fw-medium: 500;
  --fw-book: 400;
  /* End Font Weight */

  /* Font Size (~ mobile)*/
  --fs-h1: 3em;
  --fs-h2: 2em;
  --fs-h3: 1.5em;
  --fs-body: 1em;

  /* End Font Size */

  /* Colours */
  --dark: #000000;
  --light1: #ffffff;
  --light2: #f5e6cf;
  --secondary-physical: #3752d3;
  --secondary-digital: #2f8221;
  --secondary3: #8f3985;
  --secondary4: #c13344;
  --accent: #e2ad27;
  /* End Colours */
}

/* Media Context Changes */
/* ~ tablet */
@media (min-width: 600px) {
  :root {
    --fs-h1: 6em;
    --fs-h2: 3em;
    --fs-h3: 1.5em;
    --fs-body: 1em;
  }
}
/* ~ standard desktop */
@media (min-width: 1200px) {
  :root {
    --fs-h1: 7.5em;
    --fs-h2: 4.7em;
    --fs-h3: 1.75em;
    --fs-body: 1em;
  }
}
/* End Media Context Changes */
/* END VARIABLES */

/* GENERAL SETTINGS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: transparent;
}

/* Implement Later?
html {
  scroll-behavior: smooth;
}
*/

body {
  margin: 0;
  background-color: var(--light1);
  color: var(--dark);
  font-family: Futura PT, sans-serif;
}

.container {
  margin: 0 8%;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */
/* built in typography styles */
h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-demi);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-demi);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
}

p {
  font-size: var(--fs-body);
  line-height: 1.2em;
  font-weight: var(--fw-book);
}
/* end built in typography styles */

/* my typography styles*/
.section__title,
.portfolio-tile__subtitle,
.nav-text {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
}

.nav-text {
  color: var(--dark);
}

.cta-link {
  color: var(--accent);
}
/* end my typography styles*/
/* End Typography */

/* Buttons */
.button {
  background-color: var(--dark);
  color: var(--light1);
  width: 160px;
  display: inline-block;
  border-radius: 1000px;
  padding: 13px 20px;
  margin: 8px 8px;
  cursor: pointer;
  transition: transform 100ms cubic-bezier(0.5, 0, 0.5, 1);
}

.button:hover {
  transform: scale(1.035);
}

.accent {
  background-color: var(--accent);
}
/* End Buttons */

/* Social Media Icons */
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-list__item {
  margin: 0 20px;
  font-size: var(--fs-h3);
}

.fab {
  transition: color 0.05s, transform 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  color: var(--dark);
}

.fab:hover {
  color: var(--accent);
  /*transform: scale(1.1); Implement Later?*/
}
/* End Social Media Icons */
/* END GENERAL SETTINGS */

/* NAVIGATION */
/* Logo Settings */
.logo {
  height: 30px;
}

.logo-group > li {
  margin: auto 14px auto 0;
}
/* End Logo Settings */

/* General Navigation Settings (all devices)*/
.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  margin-left: 50px;
}

.nav__link:hover {
  color: var(--accent);
}
/* End General Navigation Settings */

/* Default Navigation Settings (~ desktop pc) */
.nav-container {
  margin: 32px auto;
}

.nav-toggle {
  visibility: hidden;
}
/* End Default Navigation Settings */

/* Enable Hamburger Menu */
@media (max-width: 1000px) {
  .nav-container {
    margin: 20px auto;
  }

  nav {
    position: fixed;
    background: var(--light1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  }

  .nav__list {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav__list .nav-text {
    margin: 0;
    font-size: var(--fs-h2);
    font-weight: var(--fw-demi);
  }

  .nav-toggle {
    visibility: visible;

    padding: 0.5em;
    background: transparent;
    border: 0;

    cursor: pointer;

    position: absolute;
    margin: auto 0;
    right: 8%;

    z-index: 200;
  }

  .hamburger {
    background: var(--dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--dark);
    width: 2em;
    height: 3px;
    border-radius: 5em;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav-toggle:hover .hamburger,
  .nav-toggle:hover .hamburger::before,
  .nav-toggle:hover .hamburger::after {
    background: var(--accent);
  }

  .nav-open .navigation {
    transform: translateY(0);
  }

  .nav-open .nav-toggle {
    position: fixed;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }
}
/* End Enable Hamburger Menu */

/* Media Context Changes */
/* ~ standard desktop */
@media (min-width: 1200px) {
  .logo {
    height: 36px;
  }

  .logo-group > li {
    margin: auto 17px auto 0;
  }
}
/* End Media Context Changes */
/* END NAVIGATION */

/* INTRODUCTION */
.intro {
  position: relative;
  margin: 70px 0 80px;
}

.main__title {
  margin-bottom: 8px;
}

.buttons {
  margin: 50px auto 30px;
}

/* Media Context Changes */
/* ~ tablet & standard desktop*/
@media (min-width: 600px) {
  .intro {
    position: relative;
    margin: 228px 0 180px;
  }

  .buttons {
    margin: 70px auto 55px;
  }
}
/* End Media Context Changes */
/* END INTRODUCTION */

/* PORTFOLIO BEST */
/* General Portfolio Tile Settings (all devices)*/
.portfolio-tile__item {
  position: relative;
  margin: 8px 8px;
  overflow: hidden;
}

.portfolio-tile__text {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 30px;
}

.portfolio-tile__text * {
  opacity: 0;
  color: var(--light1);
  transition: 0.3s;
}

.portfolio-tile__item--physical {
  background: var(--secondary-physical);
}

.portfolio-tile__item--digital {
  background: var(--secondary-digital);
}

.portfolio-tile__img {
  transition: 0.3s;
}

.portfolio-tile__item:hover .portfolio-tile__img {
  opacity: 0.5;
  transform: scale(1.05);
}

.portfolio-tile__item:hover .portfolio-tile__text * {
  opacity: 1;
}
/* End General Portfolio Tile Settings*/

/* Default Portfolio Tile Settings (~ mobile)*/
.portfolio-tile-items {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));*/
  grid-template-columns: 1fr;
}
/* End Default Portfolio Tile Settings (all devices)*/

/* Media Context Changes */
/* ~ some tablets & standard desktop*/
@media (min-width: 1000px) {
  .portfolio-tile-items {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));*/
    grid-template-columns: 1fr 1fr;
  }
}
/* End Media Context Changes */
/* END PORTFOLIO BEST */

/* MORE PORTFOLIO */
.more {
  margin: 70px auto 100px;
}
/* END MORE PORTFOLIO */

/* FOOTER */

footer p {
  margin: 13px auto;
}
/* END FOOTER */
